.vscode/**
.vscode-test/**
.git/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
.eslintrc.json
node_modules/
demo/
src/**/*.js.map
src/**/*.d.ts
.pnotes/**
test/**
.github/**
.npmignore
webpack.config.js
*.vsix
*.log 